a {
  color: #fff !important;
}
.navbar {
  background-color: #ef6c00;
  .logo {
    font-size: 2rem;
    font-weight: 600;

    font-family: "Lobster", cursive;
  }
  li {
    margin: 5px 25px;
    a {
      cursor: pointer;
      font-size: 20px;
      font-weight: 500;
    }
  }
  .cart {
    span {
      margin-top:-20px;
      background-color: #333;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      color: #fff;
    }
    i{
      color:#fff;
      cursor: pointer;
    }
  }
}
